@{
    ViewBag.Title = "Index";
}
<h2>Welcome to Home/Index</h2>

<h3>User's Username: @Model.username</h3>
<h3>User's Firstname: @Model.firstname</h3>
<h3>User's Lastname: @Model.lastname</h3>
<h3>User's Email: @Model.email</h3>